recursive-include gototile *.py
include gototile/data/GWGC.csv
include gototile/data/cylon.csv
include scripts/gototile
include gototile/webtile/static/gototile/js/skymap.js
include gototile/webtile/static/gototile/css/skymap.css
include gototile/webtile/templates/gototile/base.html
include gototile/webtile/templates/gototile/skymap.html
include README
include VERSION
include MANIFEST.in
include setup.py
